<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Xin chao</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="/img/ins.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
          href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <i class="bi bi-camera"></i>
      <h1>IMEY</h1>
    </a>

    <div class="header-social-links">
      <a href="https://www.facebook.com/duogglong" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/duogglong/" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/duogglong/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>
    <!-- <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i> -->
    <!-- <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i> -->

  </div>
</header><!-- End Header -->

<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade"
         data-aos-delay="1500">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2><span>Xin chao moi nguoi</span></h2>
      </div>
    </div>
  </div>
</section>

<main id="main" data-aos="fade" data-aos-delay="1500">

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container-fluid">
      <div class="row gy-4 justify-content-center contain_all">

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/loveToday.jpg" class="img-fluid img_fit" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/rem.jpg" class="img-fluid img_fit" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/tuongNuaDau.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/diaNhac.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/savingMyself.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/mindMess.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/phoneBook.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/nhieuSach.jpg" class="img-fluid img_fit" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/hoaHongTrang.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/caiCoc.jpg" class="img-fluid img_fit" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/2bucTranh.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/bag.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <!-- Decor -->
        <div class="col-xl-3 col-lg-4 col-md-6 custom_img" style="margin-top: 1px; padding: 2px;">
          <div class="gallery-item h-100" style="border-radius: 2px;">
            <img src="/img/decor/flowerBook.jpg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Gallery Section -->
</main>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>